# Written by the DigitalOcean provisioning process
syslog_fix_perms: root:wheel

datasource_list: ['ConfigDrive', 'DigitalOcean', None]

disable_root: true

# Create the default user
users:
 - default

# This will cause the set+update hostname module to not operate (if true)
preserve_hostname: false

# The modules that run in the 'init' stage
cloud_init_modules:
 - seed_random
 - bootcmd
 - set_hostname
 - update_hostname
 - users-groups
 - ssh

# The modules that run in the 'config' stage
cloud_config_modules:
 - ssh-import-id
 - locale
 - runcmd

# The modules that run in the 'final' stage
cloud_final_modules:
 - rightscale_userdata
 - scripts-per-once
 - scripts-per-boot
 - scripts-per-instance
 - scripts-user
 - ssh-authkey-fingerprints
 - phone-home
 - final-message
 - power-state-change

# Do not consume vendor-data
vendor_data:
   enabled: false

system_info:
   distro: freebsd
   default_user:
     name: freebsd
     lock_passwd: false
     gecos: FreeBSD
     groups: [wheel]
     sudo: ["ALL=(ALL) NOPASSWD:ALL"]
     shell: /bin/sh
